<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.github.peshkovm.common">
  <Appenders>
    <ThrowingAppender name="Throwing" shouldExitOnError="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </ThrowingAppender>
  </Appenders>

  <Loggers>
    <Logger name="io.netty.handler.logging" level="INFO" additivity="false">
      <AppenderRef ref="Throwing"/>
    </Logger>

    <Logger name="com.github.peshkovm" level="INFO" additivity="false">
      <AppenderRef ref="Throwing"/>
    </Logger>

    <Logger name="LoggingTest" level="ALL" additivity="false"/>

    <Root level="WARN">
      <AppenderRef ref="Throwing"/>
    </Root>
  </Loggers>
</Configuration>
